<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome</title>
</head>
<body>
Awesome
</body>
<a href="{{ url_for('hey') }}">Go to another page</a>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>

{#
url for points to the function that you have written
if you have static files, js and css,,
 <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
 <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

 where your directory structure is
 app
  - tests
  - static
     -script.js
     -jquery
       - jquery.min.js

  - templates
        - hello.html
        - hello2.html
  - app.py



#}